@import 'variables';

/**
 * Index page styles
 */

* {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}

body {
  background-image: url("/potter-jeopardy/assets/images/hogwarts.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bad Script', cursive;
}

.index-section {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
}

.panels-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $on-palm) {
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $on-palm) {
      width: 20%;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .row-header {
      font-size: 18px;
    }
  }

  .inner-text {
    height: 100%;
    margin: auto;
    display: block;
  }

  .card {
    margin-top: 10px;
    height: 110px;
    cursor: pointer;
  }

  .front {
    background: rgba(255, 255, 255, 0.4);
  }

  .back {
    background: white;
    width: 99% !important;
  }

  .front, .back {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .front .inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
  }

  .answer {
    color: mediumseagreen;
  }
}

.desktop-hidden {
  @media screen and (min-width: $on-palm + 1) {
    display: none;
  }
}

.mobile-hidden {
  @media screen and (max-width: $on-palm) {
    display: none;
  }
}

.double .back { border: 5px solid red; }

.panels-container, .tally-container {
  width: 90%;
  margin: auto;
}

.red {
  color: red;
}

.tally-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;

  .house {
    padding: 20px;
    margin: 5px;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid blue;
      border-radius: 5px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
    }
  }

  h1, h2 {
    font-size: 18px;
    letter-spacing: 3px;
  }

  h2 {
    margin-bottom: 0;
  }
}
