@import 'variables';

/**
 * Index page styles
 */

 * {
   box-sizing: border-box;
   text-align: center;
   font-size: 12px;
 }

body {
  background-image: url("/potter-jeopardy/assets/images/hogwarts.jpg");
  font-family: 'Bad Script', cursive;
 }

 .index-section {
   border-bottom: 1px solid #eee;
   margin-bottom: 40px;
 }

.panels-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;

  @media screen and (max-width: $on-palm) {
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $on-palm) {
      width: 20%;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .row-header {
      font-size: 18px;
    }
  }

  .inner-text {
    height: 100%;
    margin: auto;
    display: block;
  }

  .card {
    margin-top: 10px;
    height: 110px;
  }

  .front {
    background: rgba(255, 255, 255, 0.4);
  }

  .back {
    background: white;
  }

  .front, .back {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .front .inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
  }
}

.desktop-hidden {
  @media screen and (min-width: $on-palm + 1) {
    display: none;
  }
}

.mobile-hidden {
  @media screen and (max-width: $on-palm) {
    display: none;
  }
}

.double .back { border: 5px solid red; }
