<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{% if page.tag %}{{ site.data.tags[page.tag].name }}{% else %}{{ page.title }}{% endif %} &middot; {{ site.title }}{% endif %}</title>

    <!-- Raleway font for the skeleton -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Site's compiled CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/production/stylesheets/main.min.css">

    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  </head>

  <body>

    <main>{{ content }}</main>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Flip card thing, https://nnattawat.github.io/flip/ -->
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

    <!-- Site's JavaScript files, from assets/production/javascript folder -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/development/javascript/main.js"></script>

  </body>
</html>
