<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>Potter Jeopardy</title>

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500|Open+Sans:400,600" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">

    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/hallows.png" title="Deathly Hallows">

    <!-- Site's compiled CSS -->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css">

    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  </head>

  <body>

    <main>{{ content }}</main>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Flip card thing, https://nnattawat.github.io/flip/ -->
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

    <!-- Site's JavaScript files, from assets/production/javascript folder -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/main.js"></script>

  </body>
</html>
